.version-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-version-alert {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .new-version-assets {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.current-version-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
