.content-card {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .title {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 6px;
    .left {
      height: 16px;
      border-radius: 4px;
      width: 4px;
      background-color: #409eff;
    }
  }
  .content {
    background-color: #ffffff;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 12px;
  }
}
