.generate-code {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  gap: 8px;

  .error-text {
    color: #f56c6c;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
