.test {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .tabs {
    margin-bottom: 10px;
  }

  .code-editor {
    flex: 1;
    min-height: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
