.code-editor {
  width: 100%;
  display: flex;
  gap: 10px;

  .html-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    overflow: auto;

    .html-view-item {
      display: flex;
      cursor: pointer;
      &.active {
        box-shadow:
          0 0 8px 0 rgba(232, 237, 250, 0.6),
          0 2px 4px 0 rgba(232, 237, 250, 0.5);
      }
    }
  }

  .code-view {
    flex: 1;
    overflow: auto;
  }

  .con-view {
    overflow: auto;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
  }
}
