.code-editor {
  width: 100%;
  display: flex;
  gap: 10px;

  .html-view {
    display: flex;
    flex-direction: column;
    flex: 3;
    position: relative;
    min-width: 0;
    gap: 10px;

    .controller-container {
      display: flex;
      background-color: white;
      padding: 10px;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 14px;
        font-weight: bold;
      }
    }
    .content-container {
      display: flex;
      overflow: auto;
      flex-direction: column;
      flex: 1;
      min-height: 0;

      .ui-node-item-active-outline {
        position: absolute;
        pointer-events: none;
        z-index: 2;
        border: 1px dashed rgb(127 32 210);
        background-color: rgba(26, 115, 232, 0.05);
        box-sizing: border-box;
      }

      .ui-node-list-container {
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .ui-node-item-container {
          display: flex;
          .content {
            flex: 1;
            min-width: 0;
            display: flex;
            padding: 3px;
            box-sizing: border-box;
            border-radius: 5px;
            border: 3px solid transparent;
            background-color: #fff;
            background-image: linear-gradient(45deg, #e0e0e0 25%, transparent 25%),
              linear-gradient(-45deg, #e0e0e0 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #e0e0e0 75%),
              linear-gradient(-45deg, transparent 75%, #e0e0e0 75%);
            background-size: 10px 10px;
            background-position:
              0 0,
              0 5px,
              5px -5px,
              -5px 0px;
            &.active {
              border-color: #409eff;
              box-shadow:
                0 0 8px 0 rgba(232, 237, 250, 0.6),
                0 2px 4px 0 rgba(232, 237, 250, 0.5);
            }
          }
          .controller {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            justify-content: center;
            background: white;
            border-radius: 0 5px 5px 0;
            padding: 5px;
            box-sizing: border-box;

            .button {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .code-node-tree-view {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 0;

    .controller-container {
      display: flex;
      background-color: white;
      padding: 10px;
      box-sizing: border-box;

      .select-element-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .select-element-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
    .content-container {
      flex: 1;
      min-height: 0;
      overflow: auto;
      display: flex;
      flex-direction: column;
      .content {
        display: flex;
        flex-direction: column;
        width: max-content;
      }
    }
  }

  .con-editor-view {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    gap: 10px;
    min-width: 0;

    .controller-container {
      display: flex;
      flex-direction: column;

      .tabs {
        background-color: white;
        flex-shrink: 0;
        position: sticky;
        top: 0;
        z-index: 999;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);
        --color: #666666;
        --on-color: #409eff;
        --background-color: #ffffff;
        --on-background-color: #f7f7f7;
        --font-size: 14px;
        --padding: 8px 12px;
      }
    }
    .content-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
      min-height: 0;

      .codes {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .code {
          overflow: initial;
        }
      }
    }
  }
}
