.switch-account-search {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
  padding: 0 32px;
  box-sizing: border-box;
  .search {
    display: flex;
    align-items: center;
    gap: 12px;
    .search-text {
      flex-shrink: 0;
    }
  }
}
