.head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  > img {
    width: 20px;
    height: 20px;
  }
  > span {
    color: #1a1a1a;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
  }
}
