.popup {
  display: flex;
  flex-direction: column;
  width: 750px;
  position: relative;
  height: 500px;
  overflow-y: auto;
  background: #f7f7f7;
  > .tabs {
    background-color: white;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);
    --color: #666666;
    --on-color: #409eff;
    --background-color: #ffffff;
    --on-background-color: #f7f7f7;
    --font-size: 14px;
    --padding: 8px 12px;
  }
  > .head {
    background-color: white;
    padding: 12px;
    box-sizing: border-box;
  }
  > .content-container {
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
