.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .title {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    display: flex;
    align-items: center;
    gap: 6px;

    .left {
      height: 16px;
      border-radius: 4px;
      width: 4px;
      background-color: #409eff;
    }
  }

  .codes {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .assets {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .controller {
      display: flex;
      justify-content: flex-end;

      .button {
        width: 100%;
      }
    }

    .assets-container {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .asset-item {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 4px;

        &:last-child {
          border-bottom: none;
        }

        .image-container {
          width: 50px;
          height: 50px;
          overflow: hidden;
          background-image:
            linear-gradient(45deg, #e2e2e2 25%, transparent 0, transparent 75%, #e2e2e2 0, #e2e2e2),
            linear-gradient(45deg, #e2e2e2 25%, transparent 0, transparent 75%, #e2e2e2 0, #e2e2e2);
          background-size: 10px 10px;
          background-position:
            0 0,
            5px 5px;

          .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .details {
          display: flex;
          flex-direction: column;
          gap: 4px;
          flex: 1;
          min-width: 0;

          .cu-name {
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          .oss-url {
            display: flex;
            align-items: center;
            gap: 4px;

            span {
              flex: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              min-width: 0;
            }
          }
        }
      }
    }
  }
}
