.con-style-editor {
  display: flex;
  flex-direction: column;

  .con-style-editor-content {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .con-style-editor-content-item {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
}
