.input-container {
    display: flex;
    align-items: center;
    gap: 4px;

    .value {
        flex: 1;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}